/* body {
  text-align: center;
} */

#text {
  position: absolute;
  top: 20.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

#tshirtImg {
  position: absolute;
  width: 20px;
}

#centered-shirt {
  position: relative;
}
