body {
  background-color: #ece5c7;
}

footer,
header {
  background-color: #cdc2ae;
}

main {
  background-color: #c2dedc;
}

#text {
  position: absolute;
  top: 20.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

#tshirtImg {
  position: absolute;
  width: 50%;
}

#centered-shirt {
  position: relative;
}
